.home{
	background-color: white  ;
}
h1{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.5;
}
.container-fluid{
	padding: 5% 15%;
}
img{
	padding-top: 25%;
}
.features h1{
	margin-bottom: 45px;
	margin-top: 40px;
	font-weight: 600;
	text-align: center;
	color: #708090;
}
.features h3{
	color: #708090;
}
.features{
 background-color:#F5F5F5 ;
 padding: 7% 15%;
} 
.icon{
	margin-bottom: 2rem;

}
.TEAM7{
	 padding: 1% 30%;
	 background-color:#FFFAF0 ;
}
.TEAM7 h1{
	text-align: center;
	color: #8B0000;

}

